<div fxLayout="row" fxFill fxLayoutAlign="center center" class="register-outer-container">

  <div fxLayout="column" fxLayoutAlign="center" class="register-inner-container mat-elevation-z1">

    <form (ngSubmit)="register()">
      <div fxLayout="column" fxLayoutAlign="center center" class="logo-container mat-elevation-z4">
        <img src="./assets/images/ontimize.png">
      </div>

      <mat-form-field style="width:100%;">
        <input matInput class="mat-input" #user placeholder="{{ 'USERNAME' | oTranslate }}" id="username" formControlName="username">
      </mat-form-field>

      <mat-form-field style="width:100%;">
        <input matInput class="mat-input" #user placeholder="{{ 'EMAIL' | oTranslate }}" id="email" formControlName="email">
      </mat-form-field>

      <mat-form-field style="width:100%;">
        <input matInput class="mat-input" #password placeholder="{{ 'PASSWORD' | oTranslate }}" id="password" type="password" formControlName="password">
      </mat-form-field>

      <mat-form-field style="width:100%;">
        <input matInput class="mat-input" #password placeholder="{{ 'PASSWORD_CONFIRM' | oTranslate }}" id="password_confirm" type="password" formControlName="password_confirm">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">{{ 'register' | oTranslate }}</button>
      <div layout-padding></div>
      <div layout-padding></div>
      <div fxLayout="column" fxLayoutAlign="center center" layout-padding>
        <span class="dark_text">{{ 'REGISTER' | oTranslate }}</span> <a href="register"> {{ 'CLICK_HERE' | oTranslate}}</a>
      </div>
    </form>
  </div>
</div>
