.header-container {
  background-color: #2f4b3b;
  margin-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.logo {
  filter: contrast(150%);
  width: 45%;
  height: 45%;
  padding: 2rem;
}