.login-outer-container {
  min-height: 640px;
  background-image: linear-gradient(180deg, #2f4b3b, #2f4b3b, #2b312e);

  .login-inner-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 450px;
    padding: 6em 5em 5em;
    background-color: #859e85;
    box-shadow: 2px 2px 5px #313b36;
    border-radius: 1.5rem;
    animation: appears 2s;

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    .logo-container {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      position: absolute;
      top: -75px;
      left: 50%;
      -webkit-transform: translate(-50%, 0%);
      border-style: solid;
      border-width: 0.1rem;
      border-color: #829982;
      background-color: lightcyan;

      .logo {
        width: 45%;
        animation: logo-animation 1s 1s;
        animation-fill-mode: forwards;
      }

    }

    .session-expired {
      text-align: center;
    }

    button {
      width: 100%;
      margin: 30px 0 0;
    }

    .dark_text {
      color: #c5c5c5;
      font-size: 9pt;
    }

    .title_text {
      color: #7b7a79;
      font-size: 10pt;
      font-weight: bold;
    }

    .logomarca{
      margin-bottom: 2rem;
    }

  }
}

@keyframes logo-animation {
  0% {
    width: 45%;
  }
  25%{
    width: 50%;
  }
  50%{
    width: 55%;
  }
  75%{
    width: 50%;
  }
  100% {
   width: 45%;
  }
}


@keyframes appears {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logomarca:hover{
  animation: appears 2s;
}

.b {
  animation: appears 0.4 2s;
}

.o1 {
  animation: appears 0.4 2.4s;
}

.o2 {
  animation: appears 0.4 2.8s;
}

.k {
  animation: appears 0.4 3.2s;
}

.s1 {
  animation: appears 0.4 4s;
  fill: #CBBBA0;
}

.t {
  animation: appears 0.4 4.4s;
  fill: #CBBBA0;
}

.o3 {
  animation: appears 0.4 4.8s;
  fill: #CBBBA0;
}

.r {
  animation: appears 0.4 5.2s;
  fill: #CBBBA0;
}

.i {
  animation: appears 0.4 5.6s;
  fill: #CBBBA0;
}

.e {
  animation: appears 0.4 6s;
  fill: #CBBBA0;
}

.s2 {
  animation: appears 0.4 6.4s;
  fill: #CBBBA0;
}

.login-inner-container:hover{
  background: -webkit-gradient(linear,left bottom,left top,from(transparent),to(rgb(96, 102, 96)));
}