<div fxFlex="100" class="container">
<!--   <o-table fxFlex-->
<!--            attr="authorsTable"-->
<!--            service="authors"-->
<!--            entity="author"-->
<!--            keys="id_author"-->
<!--            columns="id_author;REAL_NAME;nacionality"-->
<!--            visible-columns="id_author;REAL_NAME" query-rows="20" show-controls="false">-->
<!--     <o-table-column attr="id_author" title="ID_AUTHOR" type="text"></o-table-column>-->
<!--     <o-table-column attr="REAL_NAME" title="REAL_NAME" type="text"></o-table-column>-->
<!--   </o-table>-->
    <o-grid #authors
            class="grid-container grid"
            attr="authorsGrid"
            service="authors"
            entity="author"
            columns="id_author;REAL_NAME;nacionality"
            orderable="yes"
            quick-filter="yes"
            grid-item-height="24rem"
            grid-item-width="16rem"
            gutter-size="1rem"
            sortable-columns="REAL_NAME;nacionality"
            keys="id_author"
            pageable="no"
            query-rows="16">
        <o-grid-item *ngFor="let item of authors.dataArray" class="grid-item item" >
            <o-column layout-padding class="container-item item">
                <h4 class="author-name">{{item.REAL_NAME}}</h4>
                <br/>
                <p class="nacionality">{{item.nacionality}}</p>
            </o-column>
        </o-grid-item>
    </o-grid>
</div>