.container {
  background-image: linear-gradient(180deg, #2f4b3b,#2b312e,#2b312e);
  width: 100%;
  height: 100%;
}

.author {
  height: 10rem;
  width: 14rem;
  background-image: linear-gradient(180deg, #91ac91, #859e85, #2f4b3b);
  border-style: solid;
  border-radius: 1rem;
  border-width: 0.01rem;
  border-color: #91ac91;
  filter: contrast(130%);
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  padding-top: 9rem;
}

.author:hover {
  transform: translateY(-10px);
  box-shadow: 0 3px #859e85;
  background: -webkit-gradient(linear,left bottom,left top,from(transparent),to(rgb(186, 213, 186)));
}

.author-name {
  color: #0D2A1A;
}

.nacionality {
  color: #91ac91;
}