.bookminiature{
    width: 50%;
    align-content: center;    
    background-color: aqua;
    max-width: 100%;
}
.imag{
    align-items: center;

}
.title{
    max-width: 50%;
    text-align: center;
    font-weight: bold;

}
.author {
    text-align: center;
    font-weight: bold;
  }
  .languagea {
    text-align: center;
    color: #3498db;
  }