<div fxFlex>
<o-grid #books
        class="grid-container"
        attr="booksGrid"
        service="books"
        entity="booksbase"
        columns="BOOK_ID;BOOK_TITLE;LANGUAGE_NAME;COVER_PAGE;BOOK_RATING"
        cols="4"
        orderable="yes"
        quick-filter="yes"
        grid-item-height="480"
        gutter-size="10px"
        sortable-columns="BOOK_TITLE;LANGUAGE_NAME;"
        keys="BOOK_ID"
        pageable="no"
        detail-mode="yes"
        query-rows="16">
    <o-grid-item *ngFor="let item of books.dataArray">
        <o-column layout-padding class="container-item">
            <app-books-miniature [bookitem]=item></app-books-miniature>
        </o-column>
    </o-grid-item>
</o-grid>
</div>