<!--
<o-list #listA attr="listsuser" service="lists" entity="lists" keys="LIST_ID;TUSERS_USER" parent-keys="TUSERS_USER:TUSERS_USER[this.user]"
columns="LIST_ID" controls="false" title="listas">
<div *ngFor="let bookitem of listA.dataArray">
  {{bookitem['LIST_ID']}}
  </div>
  </o-list> -->


 
<div fxFlex>
  <o-form attr="formulario" detect-changes-on-blur="yes" header-actions ="R" header-mode="floating">


    <o-combo #COMBOLISTAS 
      attr="combo-editable" 
      label="Listas" 
      [static-data]="getDataArray()" 
      [data]="getValueSimple()" 
      value-column="key"
      columns="key;value" 
      visible-columns="value" 
      required="yes" 
      read-only="false"
       >
    </o-combo>
   



<!--{{listas['key']}} >
</div>  

<div fxFlex>
  <o-form>
    <o-combo attr="listsuser" keys="LIST_ID;TUSERS_USER" service="lists" entity="lists" columns="LIST_ID;LIB_NAME;CREATION_DATE;DESCRIPCION;IDTYPE_OF_LIST;NAME;TUSERS_USER" 
   ></o-combo>
 
  </o-form>
</div>  -->

  <o-grid  #booksgrid
          class="grid-container"
          attr="booksGrid"
          service="books"
          entity="booksoflist"
          columns="BOOK_ID;BOOK_TITLE;LANGUAGE_NAME;COVER_PAGE;BOOK_RATING;DATE_ADD"
          cols="4"
          orderable="yes"
          quick-filter="yes"
          grid-item-height="500px"
          gutter-size="1rem"
          sortable-columns="DATE_ADD"
          keys="LIST_LIST_ID"
          parent-keys="LIST_LIST_ID:combo-editable[key]"
          pageable="no"
          refresh-button="yes"
          >
      <o-grid-item *ngFor="let item of booksgrid.dataArray  ">
          <o-column layout-padding class="container-item">
              <app-books-miniature [bookitem]=item></app-books-miniature>
          </o-column>
      </o-grid-item>
  </o-grid>    </o-form>
  </div> 
<!--
  <o-list #list attr="booksoflist" service="books" entity="booksoflist" keys="LIST_LIST_ID" parent-keys="BOOK_ID:1"
columns="BOOK_ID;BOOK_TITLE;LANGUAGE_NAME;COVER_PAGE;BOOK_RATING" controls="false" title="BOOKS">
<div *ngFor="let bookitem of list.dataArray">
  <app-books-miniature [bookitem] = bookitem></app-books-miniature>
  </div>
  </o-list>

-->
