<o-form service="books" entity="bookdetails" keys="BOOK_ID"  header-actions="" show-header-navigation="no" editable-detail="no">
    <o-row title="{{'BOOK'}}">
      <o-text-input class="input-padding" attr="BOOK_TITLE" title="BOOK_TITLE" read-only="true" fxFlex="40"></o-text-input>      
    </o-row>
    <o-row>
    <o-column>
      <o-image id="COVER_PAGE" attr="COVER_PAGE" empty-image="assets/images/no-image.png" sql-type="OTHER" read-only="true" show-controls="false" height="240px" width="240px"></o-image>
    </o-column>
    <o-column>
        <o-row>
          <o-integer-input class="input-padding" attr="BOOK_ID" title="BOOK_ID" read-only="true" width="100px"></o-integer-input>      
        </o-row>
        <o-row>
          <o-text-input class="input-padding" attr="LANGUAGE_NAME" title="LANGUAGE" read-only="true" width="200px"></o-text-input>      
        </o-row>
    </o-column>
    <o-column>
      <o-row>
        <o-button attr="raised" type="RAISED" label="LIBRARY" icon="" layout-padding></o-button>
      </o-row>
      <o-row>
        <o-button attr="raised" type="RAISED" label="WISHLIST" layout-padding></o-button>
      </o-row>
  </o-column>
  </o-row>
  <o-row>
    <o-list #list attr="bookauthors" service="books" entity="bookauthors" keys="BOOK_ID" parent-keys="BOOK_ID"
  columns="NAME" show-controls="false" title="AUTHOR">
  <o-list-item *ngFor="let row of list.dataArray">
    <o-list-item-text #item title="{{ row.NAME }}">
    </o-list-item-text>
  </o-list-item>
</o-list>
  </o-row>
  <o-row title="{{'REVIEWS'}}">
    <o-list #listrev attr="bookreviews" service="books" entity="bookreviews" keys="books_book_id" parent-keys="BOOK_ID"
  columns="TUSERS_USER;COMMENT" show-controls="false" title="REVIEWS">
  <o-list-item *ngFor="let row of listrev.dataArray">
    <o-list-item-text #itemrev title="{{ row.TUSERS_USER }}" secondary-text="{{ row.COMMENT }}"  width="100px">
    </o-list-item-text>
  </o-list-item>
</o-list>
  </o-row>
</o-form>
