.book-miniature {
  height: 20rem;
  width: 15rem;
  background-image: linear-gradient(180deg, #91ac91, #859e85, transparent);
  border-style: solid;
  border-radius: 1rem;
  border-width: 0.01rem;
  border-color: #b5cdb5;
  filter: contrast(130%);
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.book-miniature:hover {
  transform: translateY(-10px);
  box-shadow: 0 3px #859e85;
  background: -webkit-gradient(linear,left bottom,left top,from(transparent),to(rgb(186, 213, 186)));

}

.img {
  object-fit: scale-down;
  height: 7rem;
  width: 12rem;
  align-self: center;
  margin-top: 2rem;
}

.miniature-body {
  text-align: center;
  padding: 0.5rem;
  align-self: center;
  margin-top: auto;
  margin-bottom: 1rem;
}

.miniature-title {
  color: #0D2A1A;
  align-self: flex-end;
  justify-content: center;
  width: 90%;
  font-size: larger;
}

.miniature-subtitle {
  text-align: center;
  color: #a69680;
}

.miniature-text {
  text-align: center;
  color: #b5cdb5;
}

.stars {
  align-self: flex-end;
}

