.card{
   
    background-color: darkgray;
   
}
img.bookImage{ width: 150px; height: 150px;
    

}
div.booksLabel{
    align-items: center;

}
div.bookTitle{
    max-width: 150px;
    text-align: center;
    font-weight: bold;

}
div.author {

    text-align: center;
    
    font-weight: bold;
  }
div.language {
    text-align: center;
    color: #3498db;
  }

  .card-img-low {

    width: 100%;
    height: 100%;

  }