

<div fxLayout="row" layout-padding fxLayoutAlign="center center">
  <h1 class="display-1" style="font-weight: bolder;font-family: monospace;color: rgb(11, 9, 129);">BookStories</h1>
</div>

<h4>Tus recomendados</h4>
<div >
  <o-grid #grid attr="booksGrid" service="books" entity="booksbase" page-size="5"
        columns="BOOK_ID;BOOK_TITLE;LANGUAGE_NAME;COVER_PAGE" cols="5"
        orderable="no" quick-filter="no" grid-item-height="20em"  gutter-size="0.1em"   query-rows="5"     keys="BOOK_ID" pageable="no" >
  <o-grid-item *ngFor="let item of grid.dataArray;let ind = index" >
    <o-row layout-padding class="row"> 
 <!--     <img [src]="item.COVER_PAGE" style="margin-top:8px" width="200" height="200">
      <h4> {{item.BOOK_TITLE}} </h4>
        <div class="author"> {{item.NAME}} </div>
        <div class="language">{{item.LANGUAGE_NAME}} </div> -->
        <div class="col-sm-5" *ngIf="ind< 5">
         <app-books-miniature [bookitem] = item></app-books-miniature>  
        </div>
     </o-row>
  </o-grid-item>
</o-grid>



</div>