<div fxFlex="100" class="container">
    <app-header></app-header>
    <h4>Tus recomendados</h4>
    <o-grid #books
            class="grid-container grid"
            attr="booksGrid"
            service="books"
            entity="booksbase"
            columns="BOOK_ID;BOOK_TITLE;LANGUAGE_NAME;COVER_PAGE;BOOK_RATING"
            orderable="yes"
            quick-filter="yes"
            grid-item-height="24rem"
            grid-item-width="16rem"
            sortable-columns="BOOK_TITLE;LANGUAGE_NAME;"
            keys="BOOK_ID"
            pageable="no"
            query-rows="16"
            detail-form-route="/main/books/">
        <o-grid-item *ngFor="let item of books.dataArray;let ind = index">
            <o-column layout-padding class="container-item">
                <div class="col-sm-4" *ngIf="ind< 4">
                    <app-books-miniature [bookitem]=item></app-books-miniature>
                </div>
            </o-column>
        </o-grid-item>
    </o-grid>
</div>